<div class="margin-bottom-100"></div>
<div class="row">
    <div class="col-md-4 col-md-offset-1 border">
        <form name="loginUserForm">
            <label for="username">Username</label>
            <input type="text" id="username" required="required" ng-model="loginUser.username" class="form-control" />
            <br />
            <label for="password">Password</label>
            <input type="password" required="required" ng-model="loginUser.password" id="password" class="form-control" />
            <br />
            <button class="btn btn-primary" ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
        </form>
    </div>
    
    <div class="col-md-4 col-md-offset-2 border">
        <form name="registerUserForm">
            <label for="reg-username">Username</label>
            <input type="text"  required="required" ng-model="registerUser.username" id="reg-username" class="form-control" />
            <br />
            <label for="reg-password">Password</label>
            <input type="password" required="required" min-length="6" max-length="100" ng-model="registerUser.password" id="reg-password" class="form-control" />
            <br />
            <label for="reg-confirm-password">Confirm Password</label>
            <input type="password" required="required" min-length="6" max-length="100" ng-model="registerUser.confirmPassword" id="reg-confirm-password" class="form-control" />
            <br />
            <label for="reg-name">Name</label>
            <input type="text" required="required" ng-model="registerUser.name" id="reg-name" class="form-control" />
            <br />
            <label for="reg-email">E-mail</label>
            <input type="email" required="required" ng-model="registerUser.email" id="reg-email" class="form-control" />
            <br />
            <label for="reg-email">Gender</label>
            <input type="radio" ng-model="registerUser.gender" checked="checked" name="reg-gender" value="1" /> Male
            <input type="radio" ng-model="registerUser.gender" name="reg-gender" value="2" /> Female
            <input type="radio" ng-model="registerUser.gender" name="reg-gender" value="0" /> Other
            <br />
            <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="register(registerUser)">Register</button>
        </form>
    </div>
</div>